www.ryanjosebrosas.dev {
  redir https://ryanjosebrosas.dev{uri} permanent
}

ryanjosebrosas.dev {
  root * /srv/personal-website/current
  encode zstd gzip

  header {
    -Server
    Content-Security-Policy "default-src 'self'; base-uri 'self'; connect-src 'self'; font-src 'self'; form-action 'none'; frame-ancestors 'none'; img-src 'self' data:; object-src 'none'; script-src 'self' 'sha256-aGqGUyYzrqGGErEGmHakqRCD2glbmf+bTc57MoBJlJg='; style-src 'self'; upgrade-insecure-requests"
    Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=(), usb=()"
    Referrer-Policy "strict-origin-when-cross-origin"
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
  }

  @immutable path /_astro/*
  header @immutable Cache-Control "public, max-age=31536000, immutable"

  file_server

  handle_errors {
    rewrite * /404.html
    file_server
  }
}
